/*==========================================================================================================================================
/*==========================================================================================================================================
    .Layout 
============================================================================================================================================
============================================================================================================================================*/
.grid-row {
    display: block;
    position: relative;
}
.content-inner {
    margin: 0px auto;
    padding: 0px 15px;
    max-width: 1200px;
    position: relative;
}
.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
    display: block;
}
.clearfix:before, .grid-row:before,
.clearfix:after, .grid-row:after {
    content:"";
    display:table;
}
.clearfix:after, .grid-row:after {
    clear:both;
}

.popup-container .popup-align .background-image-holder {z-index: 1 !important;}
.empty-space {position: relative;}

.simple-input{font-size: 13px; color: #000; line-height: 40px; height: 40px; border-bottom: 1px #000 solid; padding: 0; transition: all .15s; -webkit-transition: all .15s; position: relative;}
input.simple-input.small{height: 30px; line-height: 30px;}
.simple-input-wrapper{position: relative; margin-bottom: 15px;}
.simple-input-wrapper .simple-input{border: 1px solid #ccc; z-index: 1;}
.simple-input:focus{padding: 0 10px;}
.simple-input.invalid + span{border-color: red!important;}
textarea.simple-input{height: 70px; line-height: 18px; padding: 10px 0;}
.form-icon{width: 40px; height: 40px; position: absolute; right: 0; top: 0; text-align: center; color: #898989; font-size: 12px; z-index: 3;}
.form-icon+.simple-input{padding-right: 40px;}
.form-icon.small{width: 30px; height: 30px; line-height: 30px;}
.form-icon.small+.simple-input{padding-right: 30px;}

/* Navigation */
header{position: absolute; z-index: 9; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.header-wrapper{position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: background .3s; -webkit-transition: background .3s;}
nav a{
    background: -moz-linear-gradient(left, currentColor 0%, currentColor 100%);
    background: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: no-repeat;
    background-size: 10000px 2px;
    background-position: center 0.7em;
    background-size: 0px 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
nav a:hover, nav li.active > a{
    -webkit-transition: all 30s ease-out;
    transition: all 30s ease-out;
    background-size: 10000px 2px;
}
nav li.active > a{transition: none; -webkit-transition: none;}

.toggle-menu{width: 19px; height: 19px; position: relative; display: inline-block; vertical-align: middle; margin-right: -20px; cursor: pointer; top: 10px; left: 10px;}
.toggle-menu:after{position: absolute; left: 0; top: 9px; width: 100%; height: 1px; background: currentColor; content: "";}
.toggle-menu:before{position: absolute; left: 9px; top: 0; height: 100%; width: 1px; background: currentColor; content: ""; transition: all .3s; -webkit-transition: all .3s;}
.toggle-menu.active:before{height: 0; top: 9px;}

/**/
#logo img{max-width: 100%; max-height: 100%; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%);}
#logo-2 img {max-width: 100%; max-height: 100%; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%);}
/**/
.hamburger-icon{width: 20px; height: 20px; color: #000; transition: transform .3s .3s; -webkit-transition: transform .3s .3s; cursor: pointer; z-index: 1; position: relative;}
.hamburger-icon.active{transform: rotate(90deg); -webkit-transform: rotate(90deg); transition: transform .3s; -webkit-transition: transform .3s;}
.hamburger-icon span{position: absolute; left: 0; width: 100%; height: 2px; background: currentColor; transition: all .3s; -webkit-transition: all .3s;}
.hamburger-icon.active span{transition: all .3s .3s; -webkit-transition: all .3s .3s;}
.hamburger-icon span:nth-child(1){top: 3px;}
.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3){top: 50%; margin-top: -1px;}
.hamburger-icon span:nth-child(4){bottom: 3px;}
.hamburger-icon.active span:nth-child(1){opacity: 0; top: -5px;}
.hamburger-icon.active span:nth-child(2){transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.hamburger-icon.active span:nth-child(3){transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.hamburger-icon.active span:nth-child(4){opacity: 0; bottom: -5px;}


/* Profile */
#profile-edit {margin-bottom: 40px;}
.card {
  margin: 1% auto;
  overflow: hidden;
  width: 90%;
}
.profile {
  
  padding: 20px;
}
.profile h4 {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    margin: 5px 0 10px 0;
    padding: 0;
}
.profile p {
    color: #C1272D;
    font: 13px/16px 'open_sansregular', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.profile-pic-edit{
    height: 140px;
    margin: 1% auto;
    width: 140px;
}
.profile-pic-border{
    border: 1px solid #B7AEA4;
    border-radius: 50%;
    float: left;
    height: 140px;
    margin: 0 20px 0 0;
    width: 140px;
}
.profile-pic {
   border: 5px solid #fff;
   border-radius: 50%;
   height: 140px;
   width: 140px;
}
.profile-info {
    width: 270px;
    float: left;
}
.profile-info  ul {
    margin-bottom: 0 !important;
}
.profile-info  ul h6 {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: normal;
}
.profile-info i {color:#C1272D;}
.middle {
  margin: 0 2px 0 2px;
}

.profile-review-wrapper {
  margin: 50px auto;
  /*width: 375px;*/
  height: 155px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
}

.profile-review-wrapper img {
  float: left;
  width: 155px;
  height: 155px;
  border-right: 1px solid #eee;
}

.profile-review-wrapper article {
  float: right;
  padding: 14px 14px 20px;
  width: 221px;
  border-bottom: 1px solid #eee;
}

.profile-review-wrapper h2 {
  margin: 1px 0 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-review-wrapper p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}


@media (min-width: 991px) {
    
    /*header */
    header.stay-top{position: fixed; left: 0; top: 0; width: 100%; height: 144px;}
    header.stay-top nav{height: auto!important;}
    header.stay-top #logo{position: absolute; left: 0; top: 8px; width: 140px; height: 144px;}
    header.stay-top #logo-2{position: absolute; right: 30px; top: 35px; width: 186px; height: 89px;}
    header.stay-top .hamburger-icon{display: none;}
    header.stay-top .toggle-menu{display: none;}
    header.stay-top nav ul ul{display: block!important;}
    header.stay-top nav{position: absolute; left: 50%; top: 50%; margin-left: -367px; margin-top: -23px;}
    header.stay-top nav > ul > li{float: left; position: relative; margin-left: 25px; padding: 14px 0;}
    header.stay-top nav > ul > li > a{font-family: 'bebas_neuebook'; font-size: 24px; color: #736357; line-height: 18px; display: block; padding: 0 5px;}
    header.stay-top nav > ul > li > a.open-popup {color:#FFF; font-size: 14px; line-height: normal; height: auto; padding: 5px 10px; margin-top: -5px;}
    header.stay-top nav > ul ul{position: absolute; left: 0; top: 100%; width: 0px; background: #736357; padding: 15px 0; transition: all .5s; -webkit-transition: all .5s; transition-timing-function:cubic-bezier(0.8, 0, 0.2, 1); -webkit-transition-timing-function:cubic-bezier(0.8, 0, 0.2, 1); overflow: hidden; opacity: 1;}
    header.stay-top nav > ul li:hover ul{width: 180px; opacity: 1;}
    header.stay-top nav > ul ul li{width: 180px; padding: 0 20px;}
    header.stay-top nav > ul ul li:not(:last-child){margin-bottom: 7px;}
    header.stay-top nav > ul ul a{font-family: 'bebas_neuebook'; font-size: 23px; line-height: 21px;}
    
    /*scrolled header*/
    header{transition: all .3s; -webkit-transition: all .3s;}
    header.stay-top.scrolled {
        height: 80px;
        background: url(../img/background/header-bkg-01.png) #F8BC00;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    header.stay-top.scrolled #logo {
        height: 70px;
        transition: all .3s; -webkit-transition: all .3s;
    }
    header.stay-top.scrolled #logo-2 {
        top: 10px;
        height: 60px;
        transition: all .3s; -webkit-transition: all .3s;
    }
}
/* Tablets (>=768px)*/
@media (max-width: 991px) {
    header{position: fixed; left: 0; top: 0; width: 100%; height: 80px;}
    header #logo{position: absolute; left: 0; top: 5px; width: 90px; height: 80px;}
    header #logo-2{position: absolute; right: 15px; top: 0; width: 100px; height: 80px;}
    header .hamburger-icon{position: absolute; left: 50%; top: 50%; margin-top: -10px;}
    .header-wrapper{
        background: url(../img/background/header-bkg-01.png) #F8BC00;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        box-shadow: 0 0 10px rgba(0,0,0,.3); 
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3); 
        position: relative;
    }
    .navigation-wrapper{
        position: fixed;
        left: -100%;
        width: 100%;
        top: -100px;
        bottom: -100px;
        background: rgba(255,255,255,.95);
        z-index: -1; 
        opacity: 0; 
        transition: left 0s 1s, opacity .5s; 
        -webkit-transition: left 0s 1s, opacity .5s;
    }
    header.active .navigation-wrapper{left: 0; opacity: 1; transition: left 0s 0s, opacity .5s 0s; -webkit-transition: left 0s 0s, opacity .5s 0s;}
    nav{height: auto!important; top: 150px; bottom: 100px; left: 0; right: 0; position: absolute; overflow: auto; -webkit-overflow-scrolling: touch; text-align: center; font-size: 0;}
    nav:after{display: inline-block; vertical-align: middle; height: 100%; content: "";}
    nav > ul{display: inline-block; vertical-align: middle; padding: 0 15px;}
    nav > ul > li li{padding: 12px 0;}
    nav a{font-family: 'bebas_neuebook'; font-size: 30px; line-height: 40px; color: #736357; display: inline-block; vertical-align: top;}
    nav ul ul a{font-size: 20px; line-height: 26px;}
    nav ul ul{display: none; position: relative; top: 19px;}
    nav > ul > li{padding: 19px 30px; font-size: 0; opacity: 0; transform: translateY(40px); -webkit-transform: translateY(40px); transition: all .3s; -webkit-transition: all .3s;}
    header.active nav > ul > li{opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px);}
    header.active nav > ul > li:nth-child(1){transition-delay: 0s; -webkit-transition-delay: 0s;}
    header.active nav > ul > li:nth-child(2){transition-delay: .15s; -webkit-transition-delay: .15s;}
    header.active nav > ul > li:nth-child(3){transition-delay: .3s; -webkit-transition-delay: .3s;}
    header.active nav > ul > li:nth-child(4){transition-delay: .45s; -webkit-transition-delay: .45s;}
    header.active nav > ul > li:nth-child(5){transition-delay: .6s; -webkit-transition-delay: .6s;}
    header.active nav > ul > li:nth-child(6){transition-delay: .75s; -webkit-transition-delay: .75s;}
    header.active nav > ul > li:nth-child(7){transition-delay: .9s; -webkit-transition-delay: .9s;}
    header.active nav > ul > li:nth-child(8){transition-delay: 1.05s; -webkit-transition-delay: 1.05s;}
    header.active nav > ul > li:nth-child(9){transition-delay: 1.2s; -webkit-transition-delay: 1.2s;}
    header.active nav > ul > li:nth-child(10){transition-delay: 1.35s; -webkit-transition-delay: 1.35s;}
    header.active nav > ul > li:nth-child(11){transition-delay: 1.5s; -webkit-transition-delay: 1.5s;}
    header.active nav > ul > li:nth-child(12){transition-delay: 1.65s; -webkit-transition-delay: 1.65s;}
}

/* Home Page */
.gisel-gading-wrapper .big-pilih-selera {
    -webkit-transform: translate(-60px, 120px);
    transform: translate(-60px, 120px);
}
.pick-mantap {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    right: 0;
}
.pick-pastimanis {
    display: inline-block;
    left:0;
    width: 45%;
}
.pick-gurihmantap {
    display: inline-block;
    float: right;
    width: 45%;
}
.pick-pastimanis img{
    width: 100%;
}
.pick-gurihmantap img {
    width: 100%;
}
.versus {
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 6;
    margin-left: -50px;
}
.versus img {
    width:70%;
}
.feature-text-right {
    position: relative;
    bottom: 0;
    right: 0;
}

/* Tentang Cemilan */
.tentang-cm-wrapper {}
.tentang-cm-wrapper .background-image-holder {
    z-index: 0 !important;
}
.tentang-cm-wrapper .image > .background-image-holder {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% 50% !important;
}
.image-square .image {
    margin-bottom: 0 !important;
}
.image-square.tentang-cm-wrapper > .content {
    padding: 10px;
    transform: scale(0.9) translate3d(0, -42%, 0);
    -webkit-transform: scale(0.9) translate3d(0, -42%, 0);
    -moz-transform: scale(0.9) translate3d(0, -42%, 0);
}

/*Desktops (>=992px)*/
@media (max-width: 1199px) {
    /* Home Page */
    .gisel-gading-wrapper .big-pilih-selera {
         -webkit-transform: translate(-500px, 450px);
        transform: translate(-500px, 450px);
    }
    .gisel-gading-wrapper .big-pilih-selera img{
        width: 250px;
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(460px, -530px);
        transform: translate(460px, -530px);
    }
    .gisel-gading-wrapper h6.headline-home {
        width:300px !important;
    }
    .gisel-gading-wrapper h6.headline-home.lead {
        font-size: 12px;
        font-weight: normal !important;
        line-height: 1;
    }
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translateY(340px);
        transform: translateY(340px);
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate img {
        height:700px;
    }
    .gisel-gading-wrapper .v-align-children .gading-animate {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    .gisel-gading-wrapper .v-align-children .gading-animate img {
        height:650px;
    }
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(0px, -148px);
        transform: translate(0px, -148px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translateY(-280px);
        transform: translateY(-280px);
    }
    
    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 10px;
        transform: scale(0.6) translate3d(0, -50%, 0);
        -webkit-transform: scale(0.6) translate3d(0, -50%, 0);
        -moz-transform: scale(0.6) translate3d(0, -50%, 0);
    }
    
}

/* Tablets (>=768px)*/
@media (max-width: 991px) {
    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 10px;
        transform: scale(0.95) translate3d(0, 0, 0);
        -webkit-transform: scale(0.95) translate3d(0, 0, 0);
        -moz-transform: scale(0.95) translate3d(0, 0, 0);
    }
    /* Profile */
    .profile-pic-border, .profile-info {
        float: none;
        margin: 1% auto;
    }
    .profile-info {
        width: 220px !important;
        text-align: center;
    }
}

/*Phones (<768px)*/
@media (max-width: 767px) {
    /* Home Page */
    .pick-mantap {
        margin: 0 0 120px 0;
    }
    .gisel-gading-wrapper .big-pilih-selera {
         -webkit-transform: translate(-60px, 80px);
        transform: translate(-60px, 80px);
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(10%, -280px);
        transform: translate(10%, -280px);
    }
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(36px, 170px);
        transform: translate(36px, 170px);
    }
    .gisel-gading-wrapper .v-align-children .gading-animate {
        -webkit-transform: translateX(21px);
        transform: translateX(21px);
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate img {
        height:300px;
    }
    .gisel-gading-wrapper .v-align-children .gading-animate img {
        height:300px;
    }
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
    .gisel-gading-wrapper .v-align-children .versus img {
        width: 25%;
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(-24px, 102px);
        transform: translate(-24px, 102px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translate(30px, 40px);
        transform: translate(30px, 40px);
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 10px;
        transform: scale(0.8) translate3d(0, -50%, 0);
        -webkit-transform: scale(0.8) translate3d(0, -50%, 0);
        -moz-transform: scale(0.8) translate3d(0, -50%, 0);
    }

    /* Profile */
    .profile-pic-border, .profile-info {
        float: none;
        margin: 1% auto;
    }
    .profile-info {
        width: 220px !important;
    }
}

/* iPad 1 & 2 in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
    /* Home Page */
    .gisel-gading-wrapper h6.headline-home.lead {
        font-size: 20px;
    }
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(-34px, 340px) !important;
        transform: translate(-34px, 340px) !important;
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(680px, -572px);
        transform: translate(680px, -572px);
    }
    .gisel-gading-wrapper .big-pilih-selera {
        -webkit-transform: translate(-760px, 450px);
        transform: translate(-760px, 450px);
    }
    .gisel-gading-wrapper .big-pilih-selera img {
        width: auto;
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 10px;
        transform: scale(0.75) translate3d(0, -53%, 0);
        -webkit-transform: scale(0.75) translate3d(0, -53%, 0);
        -moz-transform: scale(0.75) translate3d(0, -53%, 0);
    }

    /* Profile */
    .profile-pic-border, .profile-info {
        float: none;
        margin: 1% auto;
    }
    .profile-info {
        width: 220px !important;
        text-align: center;
    }
}

/* iPad 1 & 2 in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    /* Home Page */
    .gisel-gading-wrapper h6.headline-home.lead {
        font-size: 18px;
    }
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(72px, 340px) !important;
        transform: translate(72px, 340px) !important;
    }
    .gisel-gading-wrapper .big-pilih-selera {
         -webkit-transform: translate(-500px, 450px);
        transform: translate(-500px, 450px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(-70px, -159px);
        transform: translate(-70px, -159px);
    }
    
    /* Profile */
    .profile-pic-border, .profile-info {
        float: none;
        margin: 1% auto;
    }
    .profile-info {
        width: 220px !important;
        text-align: center;
    }
    
}


/* iPhone 6 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    /* Home Page */
    .gisel-gading-wrapper .big-pilih-selera {
        -webkit-transform: translate(-77px, 80px);
        transform: translate(-77px, 80px);
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(68px, -280px);
        transform: translate(68px, -280px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(-10px, 54px);
        transform: translate(-10px, 54px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translate(0px, -15px);
        transform: translate(0px, -15px);
    }
    .pilihannya .image-edge img {
        -webkit-transform: translate(0, 78%) !important;
        transform: translate(0, 78%) !important;
    }
}



/* iPhone 6 in landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    /* Home Page */
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(60px, 440px) !important;
        transform: translate(60px, 440px) !important;
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(440px, -230px) !important;
        transform: translate(440px, -230px) !important;
    }
    .gisel-gading-wrapper .big-pilih-selera {
        -webkit-transform: translate(-460px, 566px) !important;
        transform: translate(-460px, 566px) !important;
    }
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: scale(1.3) translate(0, -190px) !important;
        transform: scale(1.3) translate(0, -190px) !important;
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(-35px, 5px) !important;
        transform: translate(-35px, 5px) !important;
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translate(30px, -45px) !important;
        transform: translate(30px, -45px) !important;
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate {
        -webkit-transform: translateX(68px) !important;
        transform: translateX(68px) !important;
    }
    .gisel-gading-wrapper .v-align-children .gading-animate {
        -webkit-transform: translateX(19px) !important;
        transform: translateX(19px) !important;
    }
    
    .pilihannya .image-edge img {
        -webkit-transform: translate(0, 7%);
        transform: translate(0, 7%);
    }
    .pilihannya .right {
        -webkit-transform: translate(0, 50%) !important;
        transform: translate(0, 50%) !important;
    }
    .pick-mantap {
        margin: 0 0 20px 0;
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 10px;
        transform: scale(1) translate3d(0, 0, 0);
        -webkit-transform: scale(1) translate3d(0, 0, 0);
        -moz-transform: scale(1) translate3d(0, 0, 0);
    }

}

/* iPhone 6 Plus in landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    /* Home Page */
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(60px, 520px);
        transform: translate(60px, 520px);
    }
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: scale(.5) translate(-150px, -230px);
        transform: scale(.5) translate(-150px, -230px);
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate {
        -webkit-transform: translateX(94px);
        transform: translateX(94px);
    }
    .gisel-gading-wrapper .v-align-children .gading-animate {
        -webkit-transform: translateX(45px);
        transform: translateX(45px);
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate img {
        height: 610px;
    }
    .gisel-gading-wrapper .v-align-children .gading-animate img {
        height: 590px;
    }
    .gisel-gading-wrapper .big-pilih-selera {
        -webkit-transform: translate(-500px, 550px);
        transform: translate(-500px, 550px);
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(498px, -280px);
        transform: translate(498px, -280px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(0px, -47px);
        transform: translate(0px, -47px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translate(30px, -85px);
        transform: translate(30px, -85px);
    }
}

/* iPhone 6 Plus in portrait */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    /* Home Page */
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: translate(-21px, -60px);
        transform: translate(-21px, -60px);
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(-20px, 54px);
        transform: translate(-20px, 54px);
    }
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(50px,161px);
        transform: translate(50px,161px);
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(90px, -280px);
        transform: translate(90px, -280px);
    }
    
    /* Pilih Pasti Manis */
    .pilihannya .image-edge img {
        -webkit-transform: translate(0, 47%) !important;
        transform: translate(0, 47%) !important;
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 15px;
        transform: scale(1) translate3d(0, 0, 0) !important;
        -webkit-transform: scale(1) translate3d(0, 0, 0) !important;
        -moz-transform: scale(1) translate3d(0, 0, 0) !important;
    }
}

/* iPhone 5 & 5S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .pilihannya .image-edge img {
        -webkit-transform: translate(0, 150px);
        transform: translate(0, 150px);
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 15px;
        transform: scale(1) translate3d(0, 0, 0) !important;
        -webkit-transform: scale(1) translate3d(0, 0, 0) !important;
        -moz-transform: scale(1) translate3d(0, 0, 0) !important;
    }
}

/* iPhone 5 & 5S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
    /* Home Page */
    .gisel-gading-wrapper .v-align-children {
        -webkit-transform: translate(-10px, 547px) !important;
        transform: translate(-10px, 547px) !important;
    }
    .gisel-gading-wrapper .headline-home {
        -webkit-transform: translate(320px, -180px) !important;
        transform: translate(320px, -180px) !important;
    }
    .gisel-gading-wrapper .big-pilih-selera {
        -webkit-transform: translate(-360px, 644px) !important;
        transform: translate(-360px, 644px) !important;
    }
    .gisel-gading-wrapper .v-align-children .versus {
        -webkit-transform: scale(1.3) translate(48px, -190px) !important;
        transform: scale(1.3) translate(48px, -190px) !important;
    }
    .gisel-gading-wrapper .pick-mantap .pick-pastimanis {
        -webkit-transform: translate(20px, 63px) !important;
        transform: translate(20px, 63px) !important;
    }
    .gisel-gading-wrapper .pick-mantap .pick-gurihmantap {
        -webkit-transform: translate(55px, 38px) !important;
        transform: translate(55px, 38px) !important;
    }
    .gisel-gading-wrapper .v-align-children .gisel-animate {
        -webkit-transform: translateX(68px) !important;
        transform: translateX(68px) !important;
    }
    .gisel-gading-wrapper .v-align-children .gading-animate {
        -webkit-transform: translateX(19px) !important;
        transform: translateX(19px) !important;
    }
    .pilihannya .image-edge img {
        -webkit-transform: translate(0, 7%);
        transform: translate(0, 7%);
    }
    .pilihannya .right {
        -webkit-transform: translate(0, 31%) !important;
        transform: translate(0, 31%) !important;
    }
    .pilihannya .pilihgurihmantap.right {
        -webkit-transform: scale(.88) translate(0, 31%) !important;
        transform: scale(.88) translate(0, 31%) !important;
    }

    /* Tentang Cemilan */
    .image-square.tentang-cm-wrapper > .content {
        padding: 15px;
        transform: scale(1) translate3d(0, 0, 0);
        -webkit-transform: scale(1) translate3d(0, 0, 0);
        -moz-transform: scale(1) translate3d(0, 0, 0);
    }
}

/*Animate*/
.gisel-animate {
    bottom:0;
    display: inline-block;
    z-index: 5;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -moz-transform: translateX(50px);
}
.gading-animate {
    bottom:0;
    display: inline-block;
    z-index: 4 !important;
}


/*==========================================================================================================================================
/*==========================================================================================================================================
    .Typo
============================================================================================================================================
============================================================================================================================================*/
  
  .pastimanis-header {
    position: relative;
    margin-top: 20px;
    margin-top: 0;
    color:#FFFFFF;
  }
  
  .pastimanis-header:before {
    content: "";
    display: block;
    border-top: solid 1px #F37C00;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  .pastimanis-header span {
    background: #F37C00;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }

  .gurihmantap-header {
    position: relative;
    margin-top: 20px;
    margin-top: 0;
    color:#292929;
  }
  
  .gurihmantap-header:before {
    content: "";
    display: block;
    border-top: solid 1px #B10000;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  .gurihmantap-header span {
    background: #B10000;
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }
/*==========================================================================================================================================
/*==========================================================================================================================================
    .Articles Setup
============================================================================================================================================
============================================================================================================================================*/

    /*Global*/
    .blog-wrapper {

    }
    .blog-wrapper.has-sidebar-right .posts-container {
        float: left;
        width: 870px;
    }
    .blog-wrapper.has-sidebar-left .posts-container {
        float: right;
        width: 870px;
    }
    .posts-container {

    }
    .posts-container .post {

    }
    .posts-container .post-media {
        position: relative;
    }
    .posts-container .post-media img {
        width: 100%;
    }
    .posts-container .post-media .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .posts-container .post-media:hover .overlay {
        opacity: 1;
    }
    .posts-container .post-media .overlay:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        z-index: 1;
        opacity: 0;
    }
    .posts-container .post-media:hover .overlay:before {
        opacity: 0.85;
    }
    .posts-container .post-media .overlay .post-link {
        position: absolute;
        width: 31px;
        height: 24px;
        top: 48%;
        left: 34%;
        background: url(../images/project-icon1.png) no-repeat;
        z-index: 2;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .posts-container .post-media .overlay .post-img {
        position: absolute;
        width: 27px;
        height: 25px;
        top: 48%;
        right: 34%;
        background: url(../img/project-icon2.png) no-repeat;
        z-index: 2;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .posts-container .post-media:hover .overlay .post-img, .posts-container .post-media:hover .overlay .post-link {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .posts-container .post-inner {
        padding: 25px 15px;
        border: 1px solid #eeeeee;
        border-bottom-color: #e1e1e1;
    }
    .posts-container .post-title {
        color: #272727;
        font-family: raleway_medium;
        margin-bottom: 20px;
    }
    .posts-container .post-content {

    }
    .posts-container .post-content * {
        color: #1d1d33;
    }
    .posts-container .post-content p:last-of-type {
        margin-bottom: 0;
    }
    .posts-container .post-meta {

    }
    .posts-container .post-meta .meta {
        width: 33.3333%;
        background-color: #f1f1f1;
        border-right: 1px solid #e1e1e1;
        float: left;
        text-align: center;
        padding: 10px 0px;
    }
    .posts-container .post-meta .meta:first-child {
        border-left: 1px solid #e1e1e1;
    }
    .posts-container .post-meta .meta i {
        font-size: 20px;
        color: #bcbcbc;
    }
    .posts-container .post-meta .meta span {
        display: block;
    }
    .posts-container .post-content a, .posts-container .post-meta .meta a {
        color: inherit!important;
    }


    /*Sidebar*/
    .sidebar {
        /*background-color: #FFFFFF;
        padding: 10px;
        border: 1px solid #CCCCCC;*/
    }
    .sidebar.sidebar-right {
        float: right;
        width: 28%;
        margin-left: 10px;
    }
    .sidebar.sidebar-left {
        float: left;
        width: 270px;
        margin-right: 30px;
    }
    .sidebar .widget {
        margin-bottom: 40px;
        background-color: #FFFFFF;
        padding: 10px;
        border: 1px solid #CCCCCC;
    }
    .sidebar > h3 {

        font-family: 'bebas_neuebold', Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 8px;
    }
    .sidebar > h3 span {
        position: relative;
        padding-bottom: 9px;
    }
    .sidebar > h3 span:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }
    .sidebar .widget-posts {
    	padding: 0;
    }
    .sidebar .widget-posts .post-media {
        padding: 0;
    }
    .sidebar .widget-posts .post-content {
        padding: 10px;
    }
    .sidebar .widget-posts .post-content .post-title {
        color: #F37C00;
    }
    .sidebar .widget-posts li {
        border-bottom: 1px solid #eeeeee;
    }
    .sidebar .widget-posts a {
        color: inherit!important;
        font-size: 13px;
    }
    .sidebar .widget-categories li {
        border-bottom: 1px solid #eeeeee;
    }
    .sidebar .widget-categories a {
        color: inherit!important;
        font-size: 13px;
    }
    .sidebar .widget-categories .posts-num {
        color: #b1b1b1;
    }
    .sidebar .widget-archives li {
        border-bottom: 1px solid #eeeeee;
    }
    .sidebar .widget-archives a {
        color: inherit!important;
        font-size: 13px;
    }
    .sidebar .widget-archives .posts-num {
        color: #b1b1b1;
    }
    .sidebar .widget-tags a {
        background-color: #eeeeee;
        color: #212121!important;
    }
    .sidebar .widget-tags a:hover {
        color: #ffffff!important;
    }
    .sidebar .widget-twitter li {
        border-bottom: 1px solid #eeeeee;
    }
    .sidebar .widget-menu li {
        border: 1px solid #E4E4E4;
    }
    .sidebar .widget-menu a {
        color: inherit!important;
        font-size: 13px;
    }


    /*Articles Details*/
    .posts-container-mini {
    	background-color: #ffffff;
    	border: 1px solid #ccc;
    }
    .blog-wrapper.has-sidebar-right .posts-container-mini {
        float: left;
        width: 870px;
    }
    .blog-wrapper.has-sidebar-left .posts-container-mini {
        float: right;
        width: 870px;
    }
    .blog-wrapper.sidebar-dual .row {
        float: left;
    }
    .blog-wrapper .posts-container-mini {
        float: right;
        width: 870px;
    }
    .blog-wrapper.sidebar-dual .posts-container-mini {
        float: right;
        width: 570px;
    }
    .posts-container-mini .post {

    }
    .posts-container-mini .post-media {
        width: 50%;
        position: relative;
    }
    .posts-container-mini .post-media.left {
    	float: left;
    }
    .posts-container-mini .post-media.right {
    	float: right;
    }
    .blog-wrapper.sidebar-dual .posts-container-mini .post-media {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .posts-container-mini .post-media ul {
        margin: 0;
    }
    .posts-container-mini .post-media ul li {
        width: 100%;
        list-style-type: none;
    }
    .posts-container-mini .post-media img {
        width: 100%;
    }
    .posts-container-mini .post-media .image-tile {
        margin-bottom: 0;
    }
    .posts-container-mini .post-inner {
        width: 50%;
    }
    .posts-container-mini .post-inner.left {
    	float: left;
    }
    .posts-container-mini .post-inner.right {
    	float: right;
    }
    .blog-wrapper.sidebar-dual .posts-container-mini .post-inner {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .posts-container-mini .post.full .post-inner {
        width: 100%;
        float: none;
    }
    .posts-container-mini .post-content .post-title {
        color: #F37C00;
        margin-bottom: 20px;
    }
    .posts-container-mini .post-content {
        padding: 20px;
    }
    .posts-container-mini .post-content * {
        color: #333;
    }
    .posts-container-mini .post-content p:last-of-type {
        margin-bottom: 5px;
    }
    .posts-container-mini .read-more {

    }
    .posts-container-mini .post-meta {
        float: right;
        margin-top: -5px;
    }
    .posts-container-mini .post-meta .meta {
        display: inline-block;
        margin: 0px 10px;
        text-align: center;
    }
    .posts-container-mini .post-meta .meta i {
        font-size: 20px;
        color: #bcbcbc;
    }
    .posts-container-mini .post-meta .meta span {
        display: block;
    }
    .posts-container-mini .post-meta .meta a {
        color: inherit!important;
    }


    /*Blog Single*/
	.blog-wrapper.has-sidebar-right .post-single {
	    float: left;
	    width: 70%;
	    background-color: #fff;
		border: 1px solid #ccc;
		padding: 20px;
	}
	.blog-wrapper.has-sidebar-left .post-single {
	    float: right;
	    width: 70%;
	}
	.post-single .post-media {
	    margin-bottom: 30px;
	}
	.post-single .post-media ul {
	    margin: 0;
	}
	.post-single .post-media ul li {
	    width: 100%;
	    list-style-type: none;
	}
	.post-single .post-media img {
	    width: 100%;
	}
	.post-single .post-title {
	    color: #F37C00;
	    font-family: 'bebas_neuebold', Helvetica, Arial, sans-serif;
	    margin-bottom: 10px;
	}
	.post-single .post-meta {
	    margin-bottom: 30px;
	}
	.post-single .post-meta * {
	    font-size: 13px;
	    color: #1d1d33!important;
	}
	.post-single .post-meta span {
	    padding-right: 7px;
	    margin-right: 7px;
	    border-right: 1px solid #1d1d33;
	    line-height: 13px;
	    float: left;
	}
	.post-single .post-meta span:last-child {
	    padding: 0;
	    margin: 0;
	    border: 0;
	}
	.post-single .post-content {
	    margin-bottom: 50px;
	}
	.post-single .post-tags * {
	    color: #1d1d33!important;
	}
	.post-single .post-author {
	    padding: 20px;
	    background-color: #eff3f4;
	    border: 1px solid #e1e6ea;
	}
	.post-single .post-author h5 {
	    color: #272727;
	    font-family: 'bebas_neuebold';
	    font-size: 20px;
	    margin-bottom: 20px;
	}
	.post-single .post-author .author-avatar {
	    float: left;
	    margin-right: 20px;
	    width: 95px;
	}
	.post-single .post-author .author-avatar img {
	    width: 100%;
	}
	.post-single .post-author .author-info {
	    margin-left: 115px;
	}
	.post-single .post-author .author-info h6 {
	    margin-bottom: 5px;
	    font-size: 14px;
	    font-family: 'bebas_neuebold';
	}
	.post-single .post-author .author-info p {
	    margin-bottom: 0;
	}

/*========== Modal Boxes =============*/
.foundry_modal input {
    border: 1px solid #CCC;
}
.foundry_modal h4.bulat {
    border-radius: 50%;
    background-color: #ccc;
    padding-top: 20px;
    text-align: center;
    width: 70px;
    height: 70px;
}

/*========== Icon Boxes =============*/

.icon-box-waktu {
    padding: 3px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;

}
.icon-box-waktu img {
    float: left;
    width: 35%;
    display: inline-block;
    position: relative;
    text-align: center;
}
.icon-box-waktu .icon-box-data {
    margin-left: 50px;
    margin-top: 7px;
}
.icon-box-waktu p {
    line-height: 18px;
    margin-bottom: 0px;
}
.icon-box-plus-image {
    text-align: center;
    cursor: default;
    padding: 34px 10px;
    position: relative;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
}
.icon-box-plus-image img {
    margin: 0px auto;
    max-width: 45px;
}

/*==========================================================================================================================================
/*==========================================================================================================================================
    .DIRECTORY
============================================================================================================================================
============================================================================================================================================*/
.directory-detail-image {
  position: relative;
  overflow: hidden;
}
.directory-caption {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: right;
  z-index: 4;
  width: 100%;
  bottom: 0;
  padding: 5px;
  background: rgba(255,255,255, .7);
}

#directory-slider.flexslider {
    margin-bottom:10px;
}
#directory-slider .rating-stars i {
    color: #FFFFFF;
}
#directory-star-review.j-rating {
    margin-top: 20px;
}

/*REVIEW*/
    .review-title {
        display: inline-block;
        text-align: left;
        float: left;
    }
    .review-title h3 {
        margin: 10px;
    }
   .review-rating {
        display: inline-block;
        margin-top: 10px;
    }
    .review-rating .fa-border {
        border-color: #B10000;
        color: #B10000;
    }
    .directory-caption .food-ratings {
        padding: 10px;
        color: #fff;
        z-index: 4;
        position: absolute;
        top: 15px;
        right: 22px;
        background-color: #F8BC00;
        border-radius: 4px;
    }
    .directory-caption .review-title h4 {
        margin-bottom: 0;
        padding-top: 10px;
    }
    .directory-caption .icon-box-waktu {
        display: inline-block;
        background-color: rgba(242,184,0, 1);
        border-radius: 4px;
        border: 0;
    }
    .directory-caption .food-time-input {
        display: table-cell;
    }
    .directory-caption .rating-input {
        display: inline-block;
        background-color: rgba(242,184,0, 1);
        padding: 0px 0px 0px 10px;
        border-radius: 4px;
    }
    .directory-caption .review-rating i.fa {
        font-size: 21px;
    } 
    .rating-input .rating-stars i {
        color: #FFFFFF;
    }
    #review-img-upload img.file-preview-image {
        height:50px !important;
    }
    #review-img-upload .krajee-default.file-preview-frame .kv-file-content {
        height: 60px;
    }
    .kv-file-zoom i {
        color:#333;
    }
    .krajee-default.file-preview-frame {
        box-shadow:none;
    }

    .photo-upload-container {
        margin: 40px auto;
    }
/* PILIH SELERAMU */
input.pilihseleramu-photo {
    background-image: url('../img/ico-photo-upload.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff !important;
    /*exactly the width and height of the image*/
    width: 114px;
    height: 114px;
    border: 1px solid #CCC;
    cursor: pointer;
    outline: 0;
}
input.input-waktu {
    height: auto !important;
    width: 115px;
    background-position: left 50%;
    background-repeat: no-repeat;
    background-size: 35px 28px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: 'open_sansregular';
    line-height: 32px;
    padding-left: 25px;
    color: #333333;
    cursor: pointer;
    outline: 0;
}
.background-image-holder.submit-pilihseleramu {
    background-color: #F3F3F3 !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 50% bottom !important;
}
.malam {
    background-image: url('../img/ico-pilih-malam.png') !important;
}
.sore {
    background-image: url('../img/ico-pilih-sore.png') !important;
}
.siang {
    background-image: url('../img/ico-pilih-siang.png') !important;
}
.pagi {
    background-image: url('../img/ico-pilih-pagi.png') !important;
}
label.pilihseleramu > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label.pilihseleramu > input + img { /* IMAGE STYLES */
    cursor:pointer;
    border:1px solid #B3B3B3;
    background-color: #FFF;
}
label.pilihseleramu > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border:0;
    background-color: #ccc;
    -webkit-box-shadow: inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
}


label.pilih-pastimanis > input { 
    visibility: hidden; 
    position: absolute; 
}
label.pilih-pastimanis > input + img {
    cursor:pointer;
    border:0;
    background-color: #F37C00;
    padding: 10px 85px;
}
label.pilih-pastimanis > input:checked + img {
    border:0;
    background-color: #F37C00;
    -webkit-box-shadow: inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
}


label.pilih-gurihmantap > input { 
    visibility: hidden; 
    position: absolute; 
}
label.pilih-gurihmantap > input + img {
    cursor:pointer;
    border:0;
    background-color: #B11100;
    padding: 10px 85px;
}
label.pilih-gurihmantap > input:checked + img {
    border:0;
    background-color: #c92514;
    -webkit-box-shadow: inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 1px 5px 1px rgba(50, 50, 50, 0.75);
}


label.directory-waktu-nyemil > input { 
    visibility: hidden; 
    position: absolute; 
}
label.directory-waktu-nyemil > input + img { 
    cursor:pointer;
    border:0;
    background: transparent;
}
label.directory-waktu-nyemil > input:checked + img { 
    border:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#pilih-seleramu input {
    background: #fff;
    border: 1px solid #CCCCCC;
    padding-left: 20px;
    border-radius: 0;
}
#pilih-seleramu textarea {
    background: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    padding: 16px 20px;
}

#gmaps-canvas {
  height: 400px;
  border: 1px solid #999;
}

#gmaps-error {
  color: #cc0000;
}

#gmaps-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 25px;
  border: 1px solid #CCC;
  background-color: #FFFFFF;
}

input.gmaps {
  width: 100%;
}

#results {
  color: #555;
  padding-top: 10px;
}

#input {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ccc;
}
#input #gmaps-output-latitude, #input #gmaps-output-longitude {
  color: green;
}

/*==========================================================================================================================================
/*==========================================================================================================================================
    .RATINGS
============================================================================================================================================
============================================================================================================================================*/
.rating-container {
	background-color: #F2B800;
	padding: 18px;
    border-radius: 4px;
}
.rating-container .filled-stars {
	color: #333 !important;
	-webkit-text-stroke: 0 !important;
	text-shadow: none !important;
}
input.rating {
	background: none !important;
	border: 0 !important;
}
/*input#rating-pilih-selera {
	background: none !important;
	border: 0 !important;
}*/
.rating-container .caption {
	margin-top: 0.25em !important;
}
.rating-container .caption .label {
	background: #B10000;
}

form#pilih-seleramu input.bg-orange {
	background-color: #F37C00;
	border-color: #F37C00;
	font-size:24px;
}
form#pilih-seleramu input.bg-red {
	background-color: #B11100;
	border-color: #B11100;
	font-size: 24px;
}
.rating-stars i {
    color: #FFFFFF;
}


/*==========================================================================================================================================
/*==========================================================================================================================================
    .EASY PIE CHARTS
============================================================================================================================================
============================================================================================================================================*/
.chart {
  position: relative;
  text-align: center;
  left: 0 !important;
  margin-left: 0 !important;
}
.chart i {
  display: block;
  font-size: 10.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.51em;
  margin-left: -0.43em;
  color:#996600;
  z-index: -2;
}
.chart input {
  display: none;
}
.chart span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.25em;
  margin-left: -0.6em;
  font-family: "bebas_neuebold";
  font-size: 3em;
}
.percent {
  display: inline-block;
  /*line-height: 110px;*/
  font-family: "bebas_neuebold";
  font-size: 2em;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 1em;
  font-size: 35px;
  font-family: "bebas_neuebold";
}






/*========== S M A L L     S C R E E N =============*/


/* Mobile Version */
@media only screen and (max-width : 690px) {
    .cemilan-desktop {
        display:none;
    }
    .cemilan-mobile {
        display:visible;
    }
    .content-inner {
        max-width: 99% !important;
        width: 99%;
        margin: 0;
    }

    .sidebar.sidebar-right, .sidebar.sidebar-left, .page-wrapper .page-container, .blog-wrapper .posts-container, .blog-wrapper .posts-container-mini, .blog-wrapper .post-single,
    .page-wrapper .products-wrapper {
        float: none!important;
        width: 100%!important;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .page-wrapper.sidebar-right .sidebar, .page-wrapper.sidebar-left .sidebar {
        float: none;
        width: 100%;
        margin: 0px 0px 50px;
    }
    .posts-container-mini .post-media {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .posts-container-mini .read-more {
        margin-bottom: 30px;
    }
    .posts-container-mini .post-meta {
        float: none;
        margin-top: 0;
    }
    .posts-container-mini .post-meta .meta {
        margin: 0;
        width: 33.333%;
        float: left;
    }
    .posts-container-mini .post-inner {
        width: 100%;
        float: none;
    }
    .blog-wrapper.sidebar-dual .row {
        float: none;
    }
    .blog-wrapper.sidebar-dual .posts-container-mini {
        float: none;
        width: 100%;
        margin-right: 0;
    }
  	.icon-box-waktu p {
  	    font-size: 11px;
  	}
  	.icon-box-plus-image {
  		padding: 9px 6px;
  	}
    .join-now .btn {
      height:30px !important;
      font-size:11px !important;
      line-height: 27px !important;
      min-width: 0 !important;
    }

    /* PIE CHART */
    .chart i {
      font-size: 5.56em;
      margin-left: -36px;
      margin-top: -44px;
    }
    .chart canvas {
      width:70px !important;
      height: 70px !important;
    }
    .chart span {
      margin-left: -15px;
      margin-top: -0.55em;
      font-size: 1.5em;
    }
    .percent:after {
      margin-left: 19px;
      font-size: 20px;
    }

    /*REVIEW*/
    #directory-carousel.flexslider {
        margin-bottom: 10px;
    }
    .review-title h3 {
        margin: 5px !important;
    }
    .review-rating {
        
    }
    .directory-caption .review-title h4 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .directory-caption .review-rating i.fa {
        font-size: 16px;
    }
    .icon-box-waktu img {
        width: 30px;
        height: 24px;
    }
    .icon-box-waktu .icon-box-data {
        margin-left: 30px;
        margin-top: 3px;
    }
    /*.j-rating {
        font-size: 10px !important;
        line-height: 20px;
    }*/
    .j-rating .text {
        padding: 4px !important;
    }
    .j-rating .text .bold {
        font-size: 16px !important;
    }

    /* PILIH SELERAMU */
    input.pilihseleramu-photo {
        width: 64px;
        height: 64px;
    }

    /* ORAKUPLOADER HACKS */
    .uploadButton {
        margin:0 auto !important;
    }
    .multibox {
        float: none !important;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .directory-caption {
        text-align: left;
    }
    .directory-caption .review-title {
        float: none;
        display: block;
    }
    .directory-caption .review-title h4 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .directory-caption .review-rating {
        display: block;
        margin-bottom: 5px;
    }
    .directory-caption .review-rating i.fa {
        font-size: 16px;
    }
    .directory-caption .icon-box-waktu {
        display: block;
        width: 90px;
        margin-bottom: 5px;
    }
    .directory-caption .icon-box-waktu img {
        width: 30px;
        height: 24px;
    }
    .directory-caption .icon-box-waktu p {
        padding-right: 10px;
    }
    .directory-caption .rating-input {
        display: block;
        width: 90px;
    }
    .icon-box-waktu .icon-box-data {
        margin-left: 30px;
        margin-top: 3px;
    }
    /*.j-rating {
        font-size: 10px !important;
        line-height: 10px;
    }*/
    .j-rating .text {
        padding: 4px !important;
    }
    .j-rating .text .bold {
        font-size: 16px !important;
    }
}



/* iPad in landscape */
 @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
        .directory-caption .icon-box-waktu img {
            width: 35px;
            height: 28px;
        }
        .icon-box-waktu .icon-box-data {
            margin-left: 35px;
        }
        
        /* ORAKUPLOADER HACKS */
        .uploadButton {
            margin:20px auto !important;
        }
        .multibox {
            float: none !important;
        }

        #review-img-slider #photo_01 {
            margin-bottom: 32px;
        }
}

/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .directory-caption .icon-box-waktu img {
        width: 34px;
        height: 27px;
    }
    
    /* ORAKUPLOADER HACKS */
    .uploadButton {
        margin:20px auto !important;
    }
    .multibox {
        float: none !important;
    }
}